@import "tailwindcss";

@font-face {
  font-family: "Jersey15";
  src: url("/fonts/Jersey15-Regular.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jersey15", Arial, Helvetica, sans-serif;
}

.text-bordered {
  --color: #90075e;
  text-shadow: 2px 0 #90075e, -2px 0 #90075e, 0 2px #90075e, 0 -2px #90075e, 1px 1px #90075e, -1px -1px #90075e, 1px -1px #90075e, -1px 1px #90075e;
}

.text-bordered-2 {
  --color: #90075ec1;
  text-shadow: 2px 0 var(--color), -2px 0 var(--color), 0 2px var(--color), 0 -2px var(--color), 1px 1px var(--color), -1px -1px var(--color), 1px -1px var(--color), -1px 1px var(--color);
}